<h1>this is index html file in todos</h1>



   <h1 class="Todopage-title">My Todo-list</h1>
    <article>
      <section class="Todo-section">
        <input type="text" placeholder="What next to do?" name="task" />
        <input type="date" name="date" placeholder="dd-mm-yy" />
        <button style="background-color: green; color: white">Add</button>
      </section>

      <%=render partial: "todo-section", locals: {
          section_title:"Overdue",
          todos: Todo.overdue
          } 
      %>
     
      <%=render partial: "todo-section", locals: {
          section_title:"Due Tomorrow",
          todos: Todo.due_tomorrow
          } 
      %>

      <%=render partial: "todo-section", locals: {
          section_title:"Remaining",
          todos: Todo.due_later
          } 
      %>
      
      
    </article>
  </body>